
/* You can add global styles to this file, and also import other style files */
 .container {

     background: url('./zz.jpg') no-repeat center center fixed; 
     max-width:100%;height:auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 

}


.title{

 margin: auto;
}

img{
 margin-top: 0px;
   background: url('')


}
